@model Department

<h1 class="alert alert-success text-center">Create department</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Departments" asp-action="AddNew" enctype="multipart/form-data" onchange="SetImgSrc()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger mb-2"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger mb-2"></span>

    </div>

    <div>
        <label asp-for="AnnualBudget"></label>
        <input type="number" asp-for="AnnualBudget" class="form-control">
            <span asp-validation-for="AnnualBudget" class="text-danger mb-2"></span>

    </div>

    <div>
       <label asp-for="StartDate"></label>
        <input asp-for="StartDate" class="form-control">
            <span asp-validation-for="StartDate" class="text-danger mb-2"></span>

    </div>

    <div>
        <label asp-for="IsActive"></label>
        <input  asp-for="IsActive">

    </div>

    <div>
        <label asp-for="ImagePath"></label>
        <input type="file" name="imageFormFile" id="imageFormFile" accept=".png,.jpg" class="form-control">

    </div>

    <button type="submit" class="btn btn-primary mt-2">Add</button>

</form>
<img src="" id="deptImage" class="col-4 card" style="object-fit:contain"/>

</div>

<a asp-controller="Departments" asp-action="GetIndexView">Back to List</a>


@section Scripts{
    <script>
        function SetImgSrc(){
            document.getElementById("deptImage").src = window.URL.createObjectURL(document.getElementById("imageFormFile").files[0]);
        }
    </script>
}
